*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: #000000;
    font-family: 'Roboto', sans-serif;
}
header .logo{
    float: left;
}
.logo img{
    width: 50%;
}
header nav{
    float: right;
    margin-top: 30px;
}
.intro img{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 20%; */

    display: flex;
    justify-content: center;
    padding-left: 180px;
    margin-top: 80px;

}
.hi{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    margin-top: -50px;
    
}
.koiki{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    
}
.visual{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.basic{
    background: #FFAC0C;  
    font-family: 'Roboto', sans-serif; 
}
.info{
  
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: #000000;
}
.info ul{
    list-style-type: none;
    margin-top: 15px;
}
.info li{
    display: inline;
  
}
/* #boxes{
    background: #000000;
    padding-top: 120px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#boxes .box{
    float: left;
    width: 30%;
}
.box{
    line-height: 2em;
    margin-bottom: 120px;
}
*/ 

#boxes{
   
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
}
.box-img{
    /* margin-top: 50px;
    margin-left: 400px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
    
}

.grid{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 70px; */
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.box{
    margin: 50px;
}

.projects{
    background: #FFAC0C;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    
}

.project img{
    width: 70%;
}
.build{
    color: #FFFFFF;
    background: #000000;
    font-family: 'Poppins', sans-serif;
}
.build-center{
    margin: auto;
    width: 30%;
    text-align: center;
}
.bold{
    line-height: 1.5em;
    font-size: 30px;

}
.media{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
hr{
    margin-left: 120px;
    margin-right: 120px;
}
.contact ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.contact li{
    padding: 2rem;
}
.contact a{
    color: #FFFFFF;
}
.contact a:hover{
    color: #FFAC0C;
}
.works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 120px;
}
.works img{
    width: 35%;
    margin-top: 20px;
    margin-bottom: 50px;
}


/* hamburger menu */

/* .menu-wrap{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
} */

.menu-wrap .toggler{
    position: absolute;
    top: 1;
    right: 1;
    z-index:2 ;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #FFAC0C;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .hamburger > div:after{
    top: 10px;
}

/* toggler animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* turn line to X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s ;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease; 
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div{
    background: rgb(0, 0, 0, 0.5);
    /* border-radius: 50%; */
    width: 100vw;
    height: 100vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
} 

.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
} 
.menu-wrap .menu > div > div > ul > li > a:hover{
    color: #FFAC0C;
}
i{
    color: #FFFFFF;
    font-size: 50px;
    padding: 30px;
}
i:hover{
    color: #FFAC0C;
}
/* media queries */
@media (max-width: 700px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
       position: absolute;
       width: 100vw;
       
    }
    
   .menu-wrap .hamburger{
       width: 42px;
   }

   .grid{
       grid-template-columns: 1fr 1fr;
   }
   .works{
       grid-template-columns: 1fr 1fr 1fr;
   }
   .works img{
       width: 60%;
       
   }
   .media{
       width: 100%;
       margin-bottom: 10px;
   }
   i{
      font-size: 20px;
      padding: 30px;
   }
   .box-img{
       margin: 120px;
       margin-top: 40px;
       margin-bottom: 10px;
       width: 30%;
   }
   .box img{
       width: 50%;
   }
   .box{
       padding-right: 30px;
   }

}